/*--------------------------------------------------*\
* MEDIA QUERIES CSS
/*--------------------------------------------------*\

/*
* breakpoints
*/
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin media-query($media, $orientation: false) {

    /*
     * Mobiles 
     * Size: until 576px
     */
    @if $media == mobile {
        @media(max-width: $xs) {
            @content;
        }

    /* 
     * Desktop Pc's 
     * Size: past 992px
     */ 

    } @else if $media == desktop {
        @media (min-width: $md+1) {
            @content;
        }

    /* 
     * Responsive screens       
     * Size: until 992px
     */
    } @else if $media == responsive {         
        @media (max-width: $md) {
           @content;
        }   

    /* 
     * Specifics to use on Tablets
     * Orientation: Landscape and Portrait
     * Portrait: the height is greater than or equal to the width.
     * landscape: the width is greater than the height.
     *
     * How to use:
     * @include media-query(tablet, portrait)     
     * @include media-query(tablet, responsive)
     */
    } @else if $media == tablet {         
        @if $orientation == landscape {
            @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) {
                @content;
            }
        } @else if $orientation == portrait {
            @media (min-width: $sm) and (max-width: $md) and (orientation: portrait) {
                @content;
            }
        } @else {
            @media (min-width: $sm) and (max-width: $md) {
                @content;
            }
        }   
    }
}
