/*------------------------------------------------*\
 # FOOTER
\*------------------------------------------------*/
#footer {    
    position:fixed;
    left:0;
    bottom: 0;
    width:100%;
    background:#000;    
    padding:25px;
    color: rgb(240, 240, 240);

    @include media-query(responsive){
        position: relative; 
    }
}