/*------------------------------------------------*\
 # RESPOSNIVE MENU
 # Desktop Menu Horizontal
 # Responsive Menu Fixed on Top
 # Responsive Side Navigation Menu
\*------------------------------------------------*/
.sideNav {

    position: fixed;
    width:100%;
    background: rgb(40, 40, 41);
    z-index: 1;
    height: 75px;

    // Side Nav menu in responsive mode
    @include media-query(responsive){
        overflow-x: hidden;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        padding: 60px 0 0 0;
        transition: 0.5s;
    }

    // Close Icon Into Side Menu
    #iconClose {

        display: none;

        // Responsive mode
        @include media-query(responsive) {
            display: initial;
            position: absolute;
            top: 15px;
            right: 15px;       
            color: rgb(182, 182, 182);     
        }
    }
    
    // Header logo image
    #headerLogo {
        
        color: #fff;
        width: 100px;
        text-align: center;
        float:left;
        padding:  15px 10px 0 10px;
        margin-right: 25px;
        img {
            max-height: 50px;
        }
        @include media-query(responsive){
            float: left;
            position: absolute;
            top: 0;
        }
    }

        // menu list items
    ul {        
        float: left;
        display: inherit;
        padding: 0;
        list-style: none;
        height: auto;        
        border-top: solid rgb(73, 75, 75) 1px;        

        @include media-query(responsive) {
            margin-top: 10px;
        }

        li {

            float: left;
            text-align: center;
            padding: 23px 15px 23px 15px;
            text-decoration: none;
            font-size: 1.2rem;
            position: relative;
            list-style: none;

            @include media-query(responsive) {
                padding: 8px 8px 8px 15px;
                text-decoration:none;
                font-size: 1rem;
                color: rgb(0,0,0);
                display: block;
                transition: 0.3s;
                float: left;
                text-align: left;
                width: 100%;
            }        

            a {
                color: rgb(182, 182, 182);    
                      
                &:hover {
                    text-decoration: none;
                }
            }     
            &:hover {
                color: rgb(0,0,0);
                background: rgb(82, 82, 82);     
                
                @include media-query(responsive){
                    background: transparent;
                }
                
                // show submenu list on over
                > ul {
                    display: block;
                    
                    @include media-query(responsive) {
                        // hide dropdown only responsive
                        display:none;
                    }    
                }
            } 
            // submenu -> arrow down 
            .dropdown {
                &:after{
                    content: "";
                    margin:0 0.5em;
                    display:inline-block;
                    border: 7px solid transparent;
                    border-top:8px solid gray;
                    border-bottom:0 none;
                }
            }
            // dropdown navigation menu static at responsive mode
            .nav-dropdown {                
                @include media-query(responsive){
                    position: static;
                }
            }
        }  // end </li>     

        // dropdown menus
        ul {
            display:none;
            position:absolute;
            top:100%;
            left:0;            
            padding:0;

            @include media-query(responsive){
                border: 0;
                margin: 0;
            }            

            li {
                float: none;
                display: inline-block;
                width: 100%;
                background: rgb(40, 40, 41);
                text-align: left;
                cursor: pointer;

                @include media-query(responsive) {
                    background: transparent;
                    padding: 15px 0 0;
                }
                
                a {
                    color: rgb(182, 182, 182);    
                    line-height: 120%;                                        

                    @include media-query(responsive) {
                        color: rgb(133, 166, 228);
                    }
                }
            }            

            // thirtd level
            ul {
                top: 0;
                left:100%;
            }
        }
        .hide {
            display:block!important;
        }
        
    } // end first </ul>   

    #social {
        float: right;

        @include media-query(responsive) {
            position: static;
            bottom: 0;
        }

        li.social {
            @include media-query(responsive){
                display: inline;
                width: auto;
                text-align: center;
                padding: 10px 10px 0 15px;
            }
        }
        li.sozialize {
            color: rgb(206, 200, 200);
            &:hover {
                background:transparent;
            }
        }
    } // social
}

#main {
    
    transition: margin-left 0.5s;

    // responsive Top Menu 
    #responsiveTopMenu {

        display: none;

        // Icon to Open Menu
        #iconOpen {
            display: none;

            // Show only in responsive mode    
            @include media-query(responsive) {
                display: initial;
                color: rgb(182, 182, 182);
            }
        }

        @include media-query(responsive){

            display: initial;
            position: fixed;
            background: rgb(0,0,0);
            width: 100%;            
            z-index: 111111;      
            height: 80px;  

            ul {
                list-style: none;
                height: auto;
                overflow: hidden;
                margin: 0;
                padding: 0;
                height: 70px;
                
                li {
                    float: left ;
                }    

                #iconOpen {                    
                    position: absolute;
                    right: 15px;
                    top: 13px;
                }
                #logo {       
                    padding: 15px 0 0 25px;
                    img {
                        height: 50px;
                    }
                }
            }            
        }        
    } // responsiveTopMenu
}